body {
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://greetingsdev.wetaan.com/bootstrap/images/bg/m_bg.png");
  background-size: cover;
  background-position: center;
}

* {
  font-family: "Cairo";
}

/*button styles */
.PreviewButton,
.DownloadButton,
.upload-card-button {
  padding: 6px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 0.3s ease;
  min-width: 150px;
}

/* Button hover effect */
.DownloadButton:hoverو .upload-card-button:hover {
  opacity: 0.9;
  outline: #f4f4f4 solid 1px;
}

/* Preview button */
.PreviewButton {
  background-color: transparent;
  outline: #24d0db solid 1px;
  color: #24d0db;
}

.PreviewButton:hover {
  outline-color: transparent;
}

/* Download button */
.DownloadButton {
  background-color: #20c6df;
  color: white;
}

.DownloadButton:hover {
  outline-color: #f4f4f4;
}

/* Upload card button */

.upload-card-button {
  margin: 10px 0;
  text-align: center;
  color: white;
}

.upload-card-button .btn {
  cursor: pointer;
}

/* Text styles */
.Text-Title {
  color: #20c6df;
  font-size: 2em;
  margin: 20px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1.5rem;
  margin: 1.5rem;
  text-align: center;
}

h3 {
  color: white;
  font-size: 1.2rem;
  margin: 1.5rem;
  text-align: center;
}

/* Card Styles */
.card {
  min-width: 250px !important;
  min-height: 220px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card.selected {
  border: 3px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Card Content */
.card-title {
  font-size: 1.2em;
}

.card-content {
  font-size: 1em;
  padding: 0;
}

/* Footer */

.footer {
  background-color: transparent;
  color: white;
  padding: 10px 0;
  position: relative;
}

.footer-line {
  margin-bottom: 10px;
  width: 100%;
  height: 1px;
  background-color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1px;
}

.social-icon {
  text-decoration: none;
  border-radius: 6px;
  padding: 4px;
  color: #020155;
  background-color: #fff;
  font-size: 0.8rem;
}

.footer-text {
  text-align: right;
  font-size: 14px;
}

.footer-container {
  margin: 10px;
  padding: 0px 8rem;
}

/* Header Styles */

.header {
  background-color: transparent;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

.popup-content {
  padding: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* log in and sign in buttons */

.Login:hover {
  outline-color: #f4f4f4;
}

/* Upload card button */

.Register,
.Login,
.logout {
  text-align: center;
  color: white;
  padding: 6px;
  border-radius: 10px;
  margin: 2px;
  text-decoration: none;
}

.Register {
  outline: #24d0db solid 1px;
  color: #24d0db;
}

.Login {
  background-color: #20c6df;
  color: #20c6df;
}

.logout {
  background-color: #24d0db;
}

.Register:hover .Login:hover .logout:hover {
  outline-color: #f4f4f4;
  outline: #f4f4f4 solid 1px;
  opacity: 0.9;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
