body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #060bb1;
}


.text-input {
  padding: 6px;
  font-size: 1em; 
  min-width: 400px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

/* Container  */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; 
  gap: 20px;
  padding:20px;
  width: 80vh;
}

/*button styles */
.PreviewButton,
.DownloadButton {
  padding: 6px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  margin: 10px;
  transition: background-color 0.3s ease;
  min-width:150px; 
}

/* Button hover effect */
.PreviewButton:hover,
.DownloadButton:hover {
  opacity: 0.9;
}

/* Preview button */
.PreviewButton {
  background-color: transparent;
  outline: #24d0db solid 1px;
  color: #24d0db;
}

.PreviewButton:hover {
  outline-color: transparent;
}

/* Download button */
.DownloadButton {
  background-color: #20c6df;
  color: white;
}

.DownloadButton:hover {
  outline-color: #f4f4f4;
}

/* Text styles */
.Text-Title {
  color: #20c6df;
  font-size: 2em;
  margin: 20px;
  text-align: center;
}

h2 {
  color: white;
  font-size: 1.5em;
  margin: 20px;
  text-align: center;
}

h3 {
  color: white;
  font-size: 1.2em;
  margin: 20px;
  text-align: center;
}
